.container {
    padding: 10px;
    padding-bottom: 80px;
    margin: 0 auto;
}

@media all and (min-width: 414px) {
    .container {
        max-width: 414px;
    }
}

@media all and (min-width: 768px) {
    .container {
        padding: 20px;
        padding-bottom: 90px;
        max-width: 768px;
    }
}

@media all and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
