@import "../../css/helpers.css";

.Collage {
    column-count: 2;
    column-gap: 10px;
}

@media all and (min-width: 768px) {
    .Collage {
        column-count: 3;
        column-gap: 20px;
    }
}

@media all and (min-width: 992px) {
    .Collage {
        column-count: 3;
    }
}

@media all and (min-width: 1200px) {
    .Collage {
        column-count: 4;
    }
}
